# .gitignore

# Node modules - frontend
node_modules/

# Angular build output
/dist/

# Environment variables
.env

# IDE - IntelliJ and Eclipse
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
bin/

# Java - backend
target/
*.class
*.log

# Maven - Java dependency management
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle - Java build tool
.gradle/
build/

# MySQL - database
*.frm
*.opt
*.myd
*.myi

# Logs
*.log
