<div class="login-div">
    <img class="login-backdrop" src="../assets/backdrop.png"/>
    <div class="login-logo-div">
        <img class="login-logo-img" src="../assets/logohd.png"/>
    </div>
    <div class="action-widget">
    </div>
    <!--
    <div class="textfield-Rmm">Email</div>
    <div class="textfield-bZm">Password</div>
    <img class="eye-1-Roh" src="./assets/eye-1.png"/>
    <p class="please-log-in-wGF">Please log in.</p>
    <p class="ready-to-play-qMd">Ready to play?</p>
    <div class="c2abtn-LpB">
      <p class="log-in-Rqd">Log in</p>
      <img class="next-1-xKm" src="./assets/next-1.png"/>
    </div>
    <p class="sign-up-GbM">Sign up</p>
    <p class="forgot-password-NuH">Forgot password?</p>-->
  </div>